body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #7a83ae;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.section {
    padding: 2rem;
    margin: 2rem 0;
}

h2 {
    color: #7a83ae;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.project-card {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #7a83ae;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

footer:hover{
    background-color: white;
    color: #7a83ae;
}
